.notification_container {
    position: absolute;
    top: 120px;
    right: -15px;
    gap: 5px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 150px;
}

.notification_item {
    width: 150px;
    min-height: 50px;
    border-radius: 5px;
    font-size: 10px;
    border: solid rgb(129, 199, 132, 0.8) 2px;
    padding: 5px;
    background-color: rgb(105, 105, 105, 0.8);
    position: relative;
    right: 15px;
    top: -20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: SlideLeft 0.5s;
    animation-fill-mode: forwards;
    box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.5)
}

.notification_item.exit {
    animation: SlideRight 0.5s;
    animation-fill-mode: forwards;
}

@keyframes SlideLeft {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}

@keyframes SlideRight {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}

.bar {
    width: 150px;
    height: 5px;
    border-radius: 5px;
    font-size: 10px;
    border: solid rgb(129, 199, 132, 0) 0px;
    padding: 0px;
    background-color: none;
    overflow: hidden;
}

.bar.success {
    background-color: rgb(129, 199, 132, 0.8);
    border-color: rgb(129, 199, 132, 0)
}

.bar.error {
    background-color: rgb(254, 111, 103, 0.8);
    border-color: rgb(254, 111, 103, 0.8)
}

.bar.normal {
    background-color: rgb(241, 196, 15, 0.8);
    border-color: rgb(241, 196, 15, 0.8)
}

.notification_item.success {
    border-color: rgb(129, 199, 132, 0)
}

.notification_item.error {
    border-color: rgb(254, 111, 103, 0)
}

.notification_item.normal {
    border-color: rgb(241, 196, 15, 0)
}

.message {
    margin-bottom: 5px;
    min-width: 150px;
    color: white
}

/* возможно иконку чуть освободить в большом варианте */
.notification_icon {
    width: 30px;
    height: auto;
    position: fixed;
    right: 30px;
    top: 10px;
    z-index: 3;
}

.notification_icon.active {
    cursor: pointer
}

.list_meassage {
    font-size: 10px;
    color: white;
}

.list_time {
    font-size: 8px;
    display: flex;
    align-items: center;
    color: white;
}

.list_item_container {
    display: flex;
    gap: 5px;
    background-color: rgb(105, 105, 105, 0.8);
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: flex-start;

}

.list_buttons_container {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.list_container {
    display: flex;
    flex-direction: column;
    gap: 3px;
    overflow: auto;
    max-height: 70vh;
}

.item_delete_icon {
    width: 18px;
    height: auto;
    cursor: pointer;
}