.scroll_bar_container {
    display: flex;
    overflow-x: auto;
    margin-bottom: 3px;
    padding-bottom: 5px;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    height: 2px;
    /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background:  rgb(105, 105, 105, 0.8);
}

@media screen and (max-width: 768) {
    .scroll_bar_container {
        width: 740;
    }
}

@media screen and (max-width: 425px) {
    .scroll_bar_container {
        width: 380px;
    }
}

.order_table {
    min-width: max-content;
}

.scroll_content_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /* min-width: max-content; */
    width: 100%;
}

@media screen and (max-width: 425px) {
    .scroll_content_container {
        flex-wrap: nowrap;
    }
}

.number_of_orders {
    display: inline-block;
    position: relative;
    font-size: 10px;
    top: -10px;
}

.order_list_icon {
    width: 18px;
    height: auto;
    cursor: pointer;
}

.order_list_icon_container {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.arc_table_row :hover {
    background-color: whitesmoke;
    /* cursor: pointer; */
}

