.text_name {
    font-size: 16px;
    color: black;
}

.text_name_dark {
    font-size: 16px;
    color: white;
}


.iike_card_button {
    color: black;
    border: none;
    vertical-align: center;
    font-size: 10px;
    font-weight: bold;
    padding: 0px 5px 0px 5px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    background-color: transparent;
}

.iike_card_button.dark {
    color: white;
}
