.share_modal_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.share_modal_icons_container {
    display: flex;
    justify-content: center;
    }

.modal_social_share {}

.share_modal_disclaimer{
    width: 360px;
    font-size: 12px;
    text-align: center;
}



@media screen and (max-width: 425px) {
    .share_modal_container {
        width: 100vw;
    }
}