.section_container {
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section_container.even {
    background-color: whitesmoke;
}

.section_container.even.dark {
    background-color: rgba(31, 31, 31, 0.822);
    color: white;
}

.section_container.uneven {
    background-color: rgba(194, 194, 194, 0.822);
}

.section_container.uneven.dark {
    background-color: rgba(90, 90, 90, 0.792);
    color: white;
}

.section_header {
    font-size: 22px;
}

.section_header_comment {
    font-size: 16px;
}

.section_content_container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.self_content_container {
    margin-bottom: 20px;
}

.section_text {
    margin-top: 10px;
    font-size: 12px;
    max-width: 1000px;
    text-align: justify;
}

.section_item_container {
    height: 200px;
    width: 200px;
}

.section_item_container:hover {
    color: grey
}

.section_item_icon {
    font-size: 40px;
}

.section_item_name {}

.section_item_description {
    font-size: 12px;
}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 868px) and  (min-width: 426px) {
    .section_container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section_text {
        width: 700px;
    }

    .section_item_container {
        height: 180px;
        width: 160px;
    }

    .section_item_name {
        font-size: 16px;
    }

    .section_item_description {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    .section_container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section_header {
        font-size: 16px;
    }

    .section_header_comment {
        font-size: 12px;
    }

    .section_text {
        font-size: 10px;
    }

    .section_item_container {
        height: max-content;
        width: max-content;
    }

    .section_item_name {
        font-size: 12px;
    }

    .section_item_description {
        font-size: 10px;
        width: 120px;
    }

    .section_text {
        width: 350px;
        text-align: justify;
    }

}