.section_container {
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section_container.even {
    background-color: whitesmoke;
}

.section_container.even.dark {
    background-color: rgba(31, 31, 31, 0.822);
    color: white;
}

.section_container.uneven {
    background-color: rgba(194, 194, 194, 0.822);
}

.section_container.uneven.dark {
    background-color: rgba(90, 90, 90, 0.792);
    color: white;
}

.section_header {
    font-size: 22px;
}

.section_header_comment {
    font-size: 16px;
}

.section_content_container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.main_section_items_container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.self_content_container {
    margin-bottom: 20px;
}

.section_text {
    margin-top: 10px;
    font-size: 12px;
    max-width: 1000px;
    text-align: justify;
    margin-bottom: 40px;
}

.section_item_container {
    min-height: 200px;
    width: 200px;
    text-align: center;
}

.section_item_container:hover {
    color: grey
}

.section_item_icon {
    height: 30px;
    width: auto;
    margin-top: 20px;
}

.section_item_name {}

.section_item_description {
    font-size: 12px;
    width: 200px;
    text-align: left;
}

.user_image_container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user_image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.swipe_icon_container {
    display: none;
    position: relative;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 30px;
}

.swipe_icon {
    height: 28px;
    width: auto;
}

.admin_console_container {
    min-width: 400px;
    max-width: 800px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 100%;


    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.admin_console_container.dark {
    color: white;
}

.admin_console_item {}

.admin_console_progress {
    position: relative;
    display: inline-block;
}

.admin_console_progress_circle {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgba(194, 194, 194, 0.822);
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

.admin_console_progress_circle.dark {
    box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.5);
}

.admin_console_progress_inner {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 190px;
    height: 190px;
    transform: translateX(-50%) translateY(-50%);
    background: white;
    border-radius: 50%;
}

.admin_console_progress_inner_shadow {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 190px;
    height: 190px;
    transform: translateX(-50%) translateY(-50%);
    background: transparent;
    border-radius: 50%;

    box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.admin_console_progress_inner_shadow.dark {
    box-shadow: inset 0px 5px 10px 0px rgba(255, 255, 255, 0.5);
}


.admin_console_progress_inner.dark {
    background: #121212;
}


.admin_console_progress_segment {
    position: absolute;
    width: 100vw;
    height: 100vw;
}

.admin_console_level_circle_value {
    font-size: 40px;
    z-index: 2;
}

.admin_console_level_circle_value.dark {
    color: white;
    background-color: transparent;
}

.admin_console_level_circle_value_comment {
    font-size: 10px;
    z-index: 2;
}

.admin_console_level_circle_value_comment.dark {
    color: white;
    background-color: transparent;
}

.adv_rate_section {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.ad_transport_container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(194, 194, 194, 0.822);
    min-height: 260px;
}

.ad_transport_container.dark {
    background-color: rgba(90, 90, 90, 0.792);
    color: white;
}

.ad_transport_section {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ad_transport_item {
    height: 250px;
    width: 200px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245, 0.3);
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
    /* justify-content: center; */
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.ad_transport_item:hover {
    transform: scale(1.05);
}

.ad_transport_item.dark {
    background-color: rgb(31, 31, 31, 0.5);
    color: white;
}


.ad_transport_item_ad_text_container {
    width: 80%;
    font-size: 10px;
    text-align: left;
    height: 35%;
    line-height: 75%;
    border: solid 0.5px black;
    padding: 5px;
    border-radius: 5px;
}

.ad_transport_item_ad_text_container.dark {
    border: solid 0.5px white;
    background: transparent;
}


.ad_transport_item_ad_header_container {
    width: 80%;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
}

.ad_transport_item_ad_images_container {
    margin-top: 5px;
    height: 30%;
    display: flex;
    gap: 3px;
    justify-content: center;
}

.ad_transport_item_ad_main_image_container {}

.ad_transport_item_ad_image_icons_container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.ad_transport_image_icon {
    width: auto;
    height: 12.5px;
    cursor: pointer;
}

.ad_transport_image_icon:hover {
    filter: brightness(0.4);
}

.ad_transport_main_image {
    width: auto;
    height: 65px;
    cursor: pointer;
}


.ad_transport_item_ad_text_action_container {
    font-size: 8px;
    font-weight: bold;
}

.ad_transport_item_contacts_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how_to_add_text_container {
    font-size: 12px;
    margin-bottom: 10px;
    text-align: center;
    width: 80%;
}

.ad_transport_equipment_row {
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    width: 90%;
    justify-content: center;
}

.ad_transport_equipment_item {
    font-size: 7px;
    border-radius: 5px;
    padding: 2px;
    background-color: rgb(80, 102, 143, 0.8);
    color: white;
    white-space: nowrap;
}

.ad_transport_equipment_container {
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.image_modal_container_ad_main{

}

.image_modal_ad_main{
    width: 100%;
    height: auto;
}



@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1200px) and (min-width: 769px) and (max-height: 500px) {

    .main_section_items_container {
        flex-wrap: wrap;
        justify-content: center;
    }


    .section_container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section_header {
        font-size: 16px;
    }

    .section_header_comment {
        font-size: 12px;
    }


    .section_item_container {
        height: 180px;
        width: 180px;
    }

    .section_item_name {
        font-size: 12px;
    }

    .section_item_description {
        font-size: 10px;
        width: 180px;
    }

    .section_text {
        width: 80%;
        text-align: justify;
    }
}

@media screen and (max-width: 769px) and (min-width: 426px) {
    .section_container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .section_text {
        width: 700px;
    }

    .section_item_container {
        height: 180px;
        width: 160px;
    }

    .section_item_name {
        font-size: 16px;
    }

    .section_item_description {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    .section_container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .section_header {
        font-size: 16px;
    }

    .section_header_comment {
        font-size: 12px;
    }

    .section_text {
        font-size: 10px;
    }

    .section_content_container {
        width: max-content;
        height: max-content;
    }

    .section_item_container {
        min-height: 180px;
        width: 180px;
    }


    .section_item_name {
        font-size: 12px;
    }

    .section_item_description {
        font-size: 10px;
        width: 180px;
    }

    .main_section_items_container {
        flex-wrap: nowrap;
    }

    .section_text {
        width: 350px;
        text-align: justify;
    }

    .swipe_icon_container {
        display: block;
        font-size: 30px;
    }

    .admin_console_progress_circle {
        width: 120px;
        height: 120px;
        box-shadow: 0px 2.5px 5px 0px rgba(0, 0, 0, 0.5);
    }

    .admin_console_progress_circle.dark {
        box-shadow: 0px 2.5px 5px 0px rgba(255, 255, 255, 0.5);
    }

    .admin_console_progress_inner {
        height: 110px;
        width: 110px;
    }

    .admin_console_progress_inner_shadow {
        height: 110px;
        width: 110px;
        box-shadow: inset 0px 2.5px 5px 0px rgba(0, 0, 0, 0.5);
    }

    .admin_console_progress_inner_shadow.dark {
        box-shadow: inset 0px 2.5px 5px 0px rgba(255, 255, 255, 0.5);
    }

    .admin_console_level_circle_value {
        font-size: 20px;
    }


    .admin_console_level_circle_value_comment {
        font-size: 8px;
        text-align: center;
        width: 80%;
    }

    .adv_rate_section {
        gap: 10px;
    }

    .image_modal_container_ad_main{
        width: 100vw;
    }

    .how_to_add_text_container{
        font-size: 8px;
    }


}