.section_container {
    width: 100%;
    min-height: 30vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    text-align: center;
}

.section_container.even {
    background-color: whitesmoke;
}

.section_container.even.dark {
    background-color: rgba(31, 31, 31, 0.822);
    color: white;
}

.section_container.uneven {
    background-color: rgba(194, 194, 194, 0.822);
}

.section_container.uneven.dark {
    background-color: rgba(90, 90, 90, 0.792);
    color: white;
}

.section_header {
    font-size: 22px;
    padding-top: 20px;
}

.section_header_comment {
    font-size: 16px;
}

.section_content_container {
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    padding-top: 20px;
}

.self_content_container{
    margin-bottom: 20px;
}

.section_text {
    font-size: 12px;
    padding-top: 20px;
    max-width: 1000px;
}

.section_item_container {
    height: 200px;
    width: 200px;
}

.section_item_container:hover {
    color: grey
}

.section_item_icon {
    font-size: 40px;
}

.section_item_name {}

.section_item_description {
    font-size: 12px;
}

@media screen and (max-width: 768px) {}

@media screen and (max-width: 425px) {}