.auth_disclaimer {
    font-size: 10px;
    min-width: 350px;
    max-width: 800px;
    color: black;
    margin-top: 20px;
    text-align: justify;
}

.auth_disclaimer.dark {
    color: grey;
}

.auth_check_box_list_section {
    display: flex;
    flex-direction: column;
    width: 310px;
    align-items: center;
    justify-content: center;
}

.auth_check_box_list_container {
    display: flex;
    flex-direction: column;
    width: 290px;
    align-items: left;
    gap: 3px;
}

.auth_check_box_label {
    font-size: 10px;
}

.auth_agreement_link {
    cursor: pointer;
    text-decoration: underline;
}

.auth_agreement_link:hover {
    color: grey;
    text-decoration: none;
}
.auth_checkbox_text{
    display: flex;
    gap: 3px;
}

.auth_checkbox{
    width: 14px;
    height: 14px;
    cursor: pointer;
}

@media screen and (max-width: 1920px) {}

@media screen and (max-width: 1200px) and (min-width: 769px) and (max-height: 500px) {
    .auth_disclaimer {
        padding-bottom: 300px;
        width: 80%;
    }
}

@media screen and (max-width: 769px) and (min-width: 426px) {
    .auth_disclaimer {
        padding-bottom: 20px;
        width: 700px;
    }
}

@media screen and (max-width: 425px) {
    .auth_disclaimer {
        padding-bottom: 300px;
        width: 380px;
    }
}