.slider {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.slider_image {
    width: 100%;
    height: auto;
    /* cursor: pointer; */
    border-radius: 20px;
    object-fit: contain;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);

}

@media screen and (max-width: 425px) {
    .slider {
        width: 90vw;
    }
}