.filter_reset_icon {
    cursor: pointer;
    position: relative;
    top:-3px
}

.filter_reset_icon.dark {
color: white;
}

.filter_reset_icon:hover {
    color: grey;
}

.filters_container {
    align-items: center;
    display: flex;
   }