.custom_select {
    min-width: 310px;
    padding: 5px 2px 5px 2px;
    background-color: rgb(255, 255, 255, 0.8);
    border: lightgrey solid 1px;
    border-radius: 5px;
    min-height: 18px;
    font-size: 12px;
}

.custom_select_dark {
    background-color: #121212;
    border: solid 1px #2b2b2b;
    color: white;
}


.custom_input {
    min-width: 300px;
    padding: 5px;
    background-color: rgb(255, 255, 255, 0.8);
    border: lightgrey solid 1px;
    border-radius: 5px;
    min-height: 18px;
    font-size: 12px;
}

.custom_input_dark {
    background-color: #121212;
    border: solid 1px #2b2b2b;
    color: white;
}

.custom_input_dark::-webkit-calendar-picker-indicator { filter: invert(1) }

.point_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    border-radius: 10px 10px 10px 20px;
    align-items: center;
    cursor: grab;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    background-color: rgb(245, 245, 245, 0.8)
}

.point_container_dark {
    background-color: #2b2b2b;
    color: white;
}

.form_comment {
    font-size: 12px;
    color: black;
}

.form_comment_dark {
    font-size: 12px;
    color: white;
}

.add_delete_button {
    font-size: 12px;
    cursor: pointer;
}

.add_delete_button:hover {
    color: grey;
}

.add_delete_button_dark {
    color: white;
}

.checkbox_container {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
    color: black
}

.checkbox_container_dark {
    color: white;
}