.account_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245, 0.2);
    align-items: flex-start;
    justify-content: start;
}

.account_container_dark {
    background-color: rgb(31, 31, 31, 0.2);
    color: white;
}

.account_container.share {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.account_container_dark.share {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.account_info_status_content_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    font-size: 14px;
    max-width: 300px;
}

.after_fast_sign_up_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fill_account_disclaimer {
    max-width: 300px;
    text-align: center;
    font-size: 12px;
}

.account_share_container{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.account_share_text{
font-size: 14px;
font-weight: bold;
}

.activation_status_container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: left;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245, 0.2);
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 425px) {
    .after_fast_sign_up_form_container {
        width: 100vw;
    }
    .activation_status_container{
        padding-left: 0px;
        padding-right: 0px;
    }
}