.group_list_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.group_list_container.dark {
    color: white;
    background-color: transparent;
}

.group_list_name {
    font-size: 16px;
}

.partner_modal_content_container {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.partner_view_container {
    align-items: left;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.patner_avatar_container {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bolder;
    color: white;
    background-color: rgb(31, 31, 31, 0.5);
}

.patner_avatar_container.dark {
    color: black;
    background-color: rgb(245, 245, 245, 0.5);

}

@media screen and (max-width: 500px) {
    .group_list_container {
        width: 100vw;
    }

    .partner_modal_content_container {
        width: 100vw;
    }

    .partner_view_container {
        width: 100vw;
    }
}