.page_banner {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    /* background-color: white; */
    z-index: 1;
}

.page_banner_dark{
    color: white;
}

.page_banner_slogan {
    font-size: 32px;
    /* color: black; */
    color: inherit;
}

.page_banner_slogan_white {
    color: white;
}

.main_banner_container {
    min-height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    flex-wrap: wrap;
    gap: 20px;
}

.main_nbanner_half_1_container {
    height: 50vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* z-index: 1; */
    max-width: 700px;
    max-height: 30vh;
}


.main_banner_slogan {
    font-size: 32px;
    color: black;
    text-align: center;
}

.main_banner_slogan_dark{
    color: white;
}
