.page_banner {
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    z-index: 1;
}

.page_banner_dark {
    color: white;
}

.page_banner_slogan {
    font-size: 32px;
    /* color: black; */
    color: inherit;
}

.page_banner_slogan_white {
    color: white;
}

.main_banner_container {
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    flex-wrap: wrap;
    gap: 20px;       
}

.main_nbanner_half_1_container {
    width: 30%;
    display: flex; 
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.main_nbanner_half_2_container {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.main_banner_slogan {
    font-size: 32px;
    color: black;
    text-align: center;
    white-space: wrap;
}

.main_banner_slogan_dark {
    color: white;
}

.main_banner_image {
    /* object-fit: contain; */
    width: 500px;
    height: auto;
}

@media screen and (max-width: 768px) {
    .main_banner_image {
        width: 300px;
    }

    .main_banner_slogan {
        font-size: 22px;
    }
   
}

@media screen and (max-width: 425px) {
    .main_banner_image {
        width: 200px;
    }

    .main_banner_slogan {
        font-size: 16px;      
    }

    .main_banner_container{
        flex-direction: column;
        height: 20vh;
    }
}