.toggle {
    display: inline-block;
    position: relative;
    margin: 0 0 2em 0;    
}
.toggle.disabled{
    filter: opacity(0.2);   
}

.toggle input {
    display: none;
    opacity: 0;       
}

.toggle label h2 {
    position: absolute;
    top: -13px;
    left: 16px;
    font-weight: bold;
    font-size: 35px;
    color: #BDBDBD;
    text-shadow: 0px 2px 0px #f6f6f6;
    transform: scale(0.3, 0.3);
}

.toggle label h1 {
    position: absolute;
    top: -13px;
    left: -4px;
    font-weight: bold;
    font-size: 35px;
    color:black;
    text-shadow: 0px 2px 0px RGB(193 205 255/15%);
    transform: scale(0.3, 0.3);
}

.toggle input+label:before {
    box-sizing: border-box;
    position: absolute;
    top: -43px;
    left: -68px;
    content: '';
    width: 210px;
    height: 110px;
    transition: background-color 0.4s ease;
    border-radius: 60px;
    box-shadow: inset 7px 7px 16px #adadad;
    box-shadow: inset -7px -7px -16px #ebebeb;
    transform: scale(0.3, 0.3);
    }

.toggle input:checked+label:before {
    background: whitesmoke;
    box-shadow: inset 10px 10px 20px grey;
    box-shadow: inset -10px -10px -10px 20px black;
    transform: scale(0.3, 0.3);
}

.toggle input+label:after {
    box-sizing: border-box;
    position: absolute;
    top: -38px;
    left: -1.8rem;
    width: 100px;
    height: 100px;
    content: '';
    cursor: pointer;
    background-color: #ebebeb;
    border-radius: 500rem;
    box-shadow: 5px 5px 5px #c2c2c2;
    box-shadow: 0px 0px 0px #ebebeb;
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
    transform: scale(0.3, 0.3);
}
.toggle.disabled input+label:after {
    cursor: not-allowed;  
}

.toggle input:checked+label:after {
    transform: translateX(1.8rem) scale(0.3, 0.3);
    background: linear-gradient(145deg, grey,lightgrey);
    box-shadow: 5px 5px 9px grey;
    box-shadow: -1px -1px -1px lightgrey;
  }

/* 
.toggle {
    display: block;
    position: relative;
    background: none;
    margin: 0 0 5em 0;
}

.toggle input {
    opacity: 0;
}

.toggle label h2 {
    position: absolute;
    top: 35px;
    left: 30px;
    font-weight: bold;
    font-size: 35px;
    color: #BDBDBD;
    text-shadow: 0px 2px 0px #f6f6f6;
}

.toggle label h1 {
    position: absolute;
    top: 35px;
    left: -60px;
    font-weight: bold;
    font-size: 35px;
    color: #0E35D8;
    text-shadow: 0px 2px 0px RGB(193 205 255/15%);
}

.toggle input+label:before {
    box-sizing: border-box;
    position: absolute;
    top: 0.25em;
    left: -90px;
    content: '';
    width: 210px;
    height: 110px;
    transition: background-color 0.4s ease;
    border-radius: 60px;
    box-shadow: inset 7px 7px 16px #adadad;
    box-shadow:inset -7px -7px -16px #ebebeb;
}

.toggle input:checked+label:before {
    background: #385dff;
    box-shadow: inset 10px 10px 20px #2945bd;
    box-shadow: inset -10px -10px -10px 20px #4775ff;
}

.toggle input+label:after {
    box-sizing: border-box;
    position: absolute;
    top: 9px;
    left: -5.2rem;
    width: 100px;
    height: 100px;
    content: '';
    cursor: pointer;
    background-color: #ebebeb;
    border-radius: 500rem;
    box-shadow: 5px 5px 5px #c2c2c2;
    box-shadow:  0px 0px 0px #ebebeb;
    transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
}

.toggle input:checked+label:after {
    transform: translateX(6rem);
    background: linear-gradient(145deg, #3254e6, #3c64ff);
    box-shadow: 5px 5px 9px #2945bd; 
    box-shadow:-1px -1px -1px #385dff;
} */