.management_sync_icon {
    height: 20px;
    width: 20px;
    cursor: pointer
}

.management_sync_icon:hover {
    filter: invert(50%);
}

.management_sync_icon.disabled {
    filter: invert(50%);
    cursor: not-allowed;
}

.management_actions_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    height: 20px;
}

.management_more_icon {
    height: 20px;
    width: auto;
    cursor: pointer;
    position: relative;
    bottom: 28px;
    right: 0px;
}

.management_more_icon:hover {
    filter: invert(30%);

}

.management_more_icon.disabled {
    filter: invert(30%);
}

.item_action_menu {
    width: max-content;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(105, 105, 105, 0.5);
    position: relative;
    bottom: 70px;
    right: -20px;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.management_more_icon_container {
    width: 0px;
    height: 0px;
}

.management_search {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(105, 105, 105, 0.5);
    width: 300px;
    padding: 1px;
}

.management_search.dark {
    color: white;
    background: transparent;
}

.management_action_menu_modal_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.management_action_menu_modal_container.dark {
    color: white;
    background: transparent;
}

.management_action_menu_modal_buttons_container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.management_action_menu_header {
    font-size: 12px;
    max-width: 300px;
    text-align: center;
}

.management_checkbox {
    cursor: pointer;
}

.management_checkbox_text {
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.management_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.management_row {
    display: flex;
    gap: 5px;
    font-size: 10px;
    flex-wrap: wrap;
    box-shadow: 0px 2.5px 5px 0px rgba(127, 127, 127, 0.5);
    border-radius: 5px;
    background-color: transparent;
    padding: 5px 5px 5px 20px;
    cursor: pointer;
    min-width: 900px;
}

.management_item {
    background-color: darkgray;
    padding: 5px;
    border-radius: 5px;
}

.management_item.activated {
    cursor: pointer;
    box-shadow: 0px 2.5px 5px 0px rgba(127, 127, 127, 0.5)
}

.management_item:hover {
    filter: brightness(0.8);
    box-shadow: none
}

.management_item.ad_text {
    max-width: 300px;
    white-space: pre-wrap;
}

.management_images_container {
    display: flex;
    gap: 3px;
}

.management_image_icon {
    height: 25px;
    width: auto;
    cursor: pointer;
}

.management_image_icon:hover {
    filter: brightness(0.8);
}

.management_icon_container {
    display: flex;
    align-items: center;
}

.management_icon {
    height: 20px;
    width: auto;
    cursor: pointer;
}

.management_icon:hover {
    background-color: grey;
}

.user_avatar_container {
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bolder;
    color: white;
    background-color: rgb(31, 31, 31, 0.5);
}

.user_avatar_container.dark {
    color: black;
    background-color: rgb(245, 245, 245, 0.5);
}

.management_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}


@media screen and (max-width: 425px) {
    .management_action_menu_modal_container {
        width: 100vw;
    }

    .management_row {
        max-width: 170px;
        min-width: 170px;
    }

    .management_container {
        flex-direction: row;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }

    .management_more_icon {
        bottom: 30px;
        right: 0px;
    }

    .item_action_menu {
        bottom: 130px;
        right: -20px;
    }

    .management_wrapper {
        flex-direction: row;
    }

    .management_wrapper.column {
        flex-direction: column;
    }
}

