.management_sync_icon {
    height: 20px;
    width: 20px;
    cursor: pointer
}

.management_sync_icon:hover {
    filter: invert(50%);
}

.management_sync_icon.disabled {
    filter: invert(50%);
    cursor: not-allowed;
}

.management_actions_container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
    height: 20px;
}

.users_item_container {
    background-color: rgb(105, 105, 105, 0.5);
    border-radius: 5px;
    width: 380px;
    height: 70px;

    display: flex;
    gap: 5px;
    padding: 5px;
    align-items: center;
    cursor: pointer;
}

.users_item_properties_container {
    width: 370px;
    min-height: 50px;
    display: flex;
    gap: 5px;
    padding: 5px;
    height: 100%;
}

.users_item_properties_container.dark {
    color: white;
    background-color: unset;
}

.users_list_container {
    margin-top: 10px;
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.users_item_property {
    font-size: 12px;
}

.management_more_icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: relative;
    bottom: 15px;
    right: 25px;
}

.management_more_icon:hover {
    filter: invert(30%);

}

.management_more_icon.disabled {
    filter: invert(30%);
}

.users_item_action_menu {
    width: max-content;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: rgb(105, 105, 105, 0.5);
    position: relative;
    bottom: 67px;
    right: 155px;
    padding-left: 10px;
    padding-right: 10px;

    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.management_more_icon_container {
    width: 0px;
    height: 0px;
}

.management_search {
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgb(105, 105, 105, 0.5);
    width: 300px;
    padding: 1px;
}

.management_search.dark {
    color: white;
    background: transparent;
}

.users_action_menu_modal_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.users_action_menu_modal_container.dark {
    color: white;
    background: transparent;
}

.users_action_menu_modal_buttons_container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 5px;
}

.users_action_menu_header {
    font-size: 12px;
    max-width: 300px;
    text-align: center;
}

.management_checkbox {
    cursor: pointer;
}

.management_checkbox_text {
    font-size: 10px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.management_transport_container {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
}

.management_transport_row {
    display: flex;
    gap: 5px;
    font-size: 10px;
}

.management_transport_item {
    background-color: darkgray;
    padding: 5px;
    border-radius: 5px;
}
.management_transport_item.activated{
    cursor: pointer;
    box-shadow: 0px 2.5px 5px 0px rgba(127, 127, 127, 0.5)
}

.management_transport_item:hover {
    filter: brightness(0.8);
    box-shadow: none
}

.management_transport_item.ad_text {
    max-width: 300px;
    white-space: pre-wrap;
}

.management_transport_images_container {
    display: flex;
    gap: 3px;
}

.management_transport_image_icon {
    height: 25px;
    width: auto;
    cursor: pointer;
}

.management_transport_image_icon:hover {
    filter: brightness(0.8);
}

.management_transport_icon_container {
    display: flex;
    align-items: center;
}

.management_transport_icon {
    height: 20px;
    width: auto;
    cursor: pointer;
}

.management_transport_icon:hover {
  background-color: grey;
}


@media screen and (max-width: 425px) {
    .users_action_menu_modal_container {
        width: 100vw;
    }
}