.driver_component_container {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: max-content;
}
.driver_list_container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}
.driver_settings_container{
display: flex;
flex-direction: column;
gap: 5px;
}