.footer_container {
  width: 100%;
  min-height: 550px;
  height: max-content;
  margin-top: 30px;
  background-color: white;
  display: flex;
  gap: 20px;
  justify-content: space-around;
  flex-wrap: no-wrap;
}

.footer_container.dark {
  background-color: #121212;
  color: white;
}

.footer_logo {
  height: auto;
  width: 40px;
}

.footer_copyright_container {
  display: flex;
  flex-direction: column;
  /* gap: 10px; */
  width: 1400px;
  /* height: 200px; */
}

.footer_copyright {
  font-size: 10px;
  margin-top: 10px;
  color: grey;
  text-align: justify;
}

.footer_section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
  height: 200px;
}

.footer_email {
  font-size: 12px;
  margin-top: 0;
  margin-bottom: 2px;
  color: black;
}

.legality_link {
  font-size: 10px;
  cursor: pointer;
}

.legality_link:hover {
  color: grey;
}

.footer_social_share_text {
  font-weight: bold;
  color: white;
}

.footer_social_share {
  display: flex;
  position: relative;
  width: 90vw;
  padding-top: 40px;
  justify-content: flex-end;
  align-items: center;
}

.social_anchor {
  height: 0;
  width: 0;
}

@media screen and (max-width: 1920px) and (min-width: 1381px) {
  .footer_container {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .footer_copyright_container {
    width: 1200px;
  }
}

@media screen and (max-width: 1380px) and (min-width: 769px) {
  .footer_copyright_container {
    width: 90%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 769px) and (max-height: 500px) {
  .footer_container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer_copyright_container {
    width: 90%;
  }
}

@media screen and (max-width: 768px) and (min-width: 501px) {
  .footer_container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer_copyright_container {
    width: 700px;
  }
}

@media screen and (max-width: 500px) {
  .footer_container {
    justify-content: center;
    flex-wrap: wrap;
  }

  .footer_copyright_container {
    max-width: 90vw;
  }
}
