@font-face {
    font-family: "Jost";
    src: local("Jost"),
        url("../src/fonts/Jost-VariableFont_wght.ttf") format("truetype");
}

.page_container {}

.item_container {
    display: flex;
    flex-direction: column;
}

.item_container.driver {
    gap: 5px;
    background-color: rgb(245, 245, 245, 0.5);
    border-radius: 10px;
    padding: 10px;
    min-width: 250px;
}

.item_container.dark {
    background-color: rgb(31, 31, 31, 0.5);
    color: white
}