@font-face {
  font-family: "Jost";
  src: local("Jost"),
    url("../src/fonts/Jost-VariableFont_wght.ttf") format("truetype");
}

.page_container {
  width: 100%;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 60px;
}

.page_container.dark {
  background-color: #121212;
  color: white;
}


