.map_info_container {
    position: relative;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-size: 10px;
    max-width: 200px;
    position: relative;
    left: 10px;
    top: -40vh;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.button_container {
    display: flex;
    gap: 3px;
    z-index: 1;
}

/* .calculated_data {} */

.calculated_data_container {
    background-color: rgb(245, 245, 245, 0.5);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    color: black;
}

.calculated_data_container_dark {
    background-color: rgb(105, 105, 105, 0.8);
    color: white;
}

.map_button {
    font-size: 10px;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    background-color: rgb(105, 105, 105, 0.8);
    box-shadow: 0 2.5px 5px 0 rgba(0, 0, 0, 0.5);
}

.map_button.dark {
    background-color: rgb(54, 63, 76, 0.8);    
}

.map_scale_button {
    font-size: 10px;
    color: black;
    border-radius: 5px;
    border: none;
    padding: 5px;
    cursor: pointer;
    min-width: 150px;
    text-align: center;
    background-color: rgb(245, 245, 245, 0.8);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.remove_city_icon{
    height: 20px;
    width: auto;
}
.remove_city_icon:hover{
    filter: invert(50%);
}


.map_scale_button.only {
    min-width: 150px;
}

.map_scale_button_dark {
    background-color: rgba(31, 33, 33, 0.792);
    color: white;
}

.map_scale_button.active {
    color: white;
    background-color: rgb(105, 105, 105, 0.8);
    box-shadow: none;
}

.map_scale_button:hover {
    box-shadow: none;
}

.map_button:hover {
    box-shadow: none;
}

.map_button:disabled {
    cursor: not-allowed;
    background-color: rgb(245, 245, 245, 0.8);
    color: black;
}

.map_button.dark:disabled {
    cursor: not-allowed;
    background-color: rgb(73, 74, 74, 0.8);
    color: white;
}

.map {
    width: 100%;
    height: 40vh;
}

.map_container {
    width: 100%;
    height: 40vh;
    margin-top: 10vh;
}

.scale_container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.city_selector_input {
    max-width: 200px;
    border-radius: 5px;
    font-size: 10px;
    padding: 5px;
    background-color: rgb(245, 245, 245, 0.8);
    border: none
}

.button_row {
    display: flex;
    gap: 5px;
}

.map_action_icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgb(245, 245, 245, 0.8);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.map_action_icon_container.dark {
    color: white;
    background-color: rgba(31, 33, 33, 0.792);
}

.map_action_icon_container:hover {
    color: grey;
}

.map_action_icon:hover {
    color: grey;
}

/* autocomplete */

.pac-container {
    background-color: rgb(245, 245, 245, 0.5);
    position: absolute !important;
    z-index: 1000;
    border-radius: 2px;
    /* border-top: 1px solid #d9d9d9; */
    font-family: Arial, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
}

.pac-logo:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 0;
    text-align: right;
    display: block;
    background-image: none;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1px 14px
}

.hdpi.pac-logo:after {
    background-image: none
}

.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 0 solid #e6e6e6;
    font-size: 11px;
    color: #999
}

.pac-item:hover {
    background-color: rgba(146, 141, 141, 0.5);
}

.pac-item-selected,
.pac-item-selected:hover {
    background-color: rgba(146, 141, 141, 0.5);
}

.pac-matched {
    font-weight: 700
}

.pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000
}

.pac-icon {
    width: 0;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: none;
    background-size: 34px
}

.hdpi .pac-icon {
    background-image: none
}

.pac-icon-search {
    background-position: -1px -1px
}

.pac-item-selected .pac-icon-search {
    background-position: -18px -1px
}

.pac-icon-marker {
    background-position: -1px -161px
}

.pac-item-selected .pac-icon-marker {
    background-position: -18px -161px
}

.pac-placeholder {
    color: gray
}

@media screen and (max-width: 1920px)and (min-width: 769px) {}

@media screen and (max-width: 1200px) and (min-width: 769px) and (max-height: 500px) {
    .map_container {
        width: 100%;
        height: 400px;
        margin-top: 50px;
    }

    .map {
        width: 100%;
        height: 400px;
    }

    .map_info_container {
        top: -400px;
    }
}

@media screen and (max-width: 768px)and (min-width: 501px) {}

@media screen and (max-width: 500px) {
    .map_scale_button.only {
        min-width: 50px;
    }

    .map {
        height: 80vh;
    }

    .map_container {
        height: 80vh;
    }

    .map_info_container {
    top: -80vh;
    }
}


/* .pac-container {
    background-color: #fff;
    position: absolute !important;
    z-index: 1000;
    border-radius: 2px;
    border-top: 1px solid #d9d9d9;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden
}

.pac-logo:after {
    content: "";
    padding: 1px 1px 1px 0;
    height: 16px;
    text-align: right;
    display: block;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 120px 14px
}

.hdpi.pac-logo:after {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/powered-by-google-on-white3_hdpi.png)
}

.pac-item {
    cursor: default;
    padding: 0 4px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    text-align: left;
    border-top: 1px solid #e6e6e6;
    font-size: 11px;
    color: #999
}

.pac-item:hover {
    background-color: #fafafa
}

.pac-item-selected,
.pac-item-selected:hover {
    background-color: #ebf2fe
}

.pac-matched {
    font-weight: 700
}

.pac-item-query {
    font-size: 13px;
    padding-right: 3px;
    color: #000
}

.pac-icon {
    width: 15px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons.png);
    background-size: 34px
}

.hdpi .pac-icon {
    background-image: url(https://maps.gstatic.com/mapfiles/api-3/images/autocomplete-icons_hdpi.png)
}

.pac-icon-search {
    background-position: -1px -1px
}

.pac-item-selected .pac-icon-search {
    background-position: -18px -1px
}

.pac-icon-marker {
    background-position: -1px -161px
}

.pac-item-selected .pac-icon-marker {
    background-position: -18px -161px
}

.pac-placeholder {
    color: gray
} */